img { width: 100%; }

a { cursor: pointer; }

section.parallax {
  height: 100%;
  min-height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eee;
}

blockquote {
  border-left: 6px solid #fff;
  color: #fff;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
	  color: #fff;
	  content: open-quote;
	  font-size: 4em;
	  line-height: 0.1em;
	  margin-right: 0.25em;
	  vertical-align: -0.4em;
  }
}

.message {
	background: #000;
	padding: 8px;
	border: 2px solid #E9F2FB;
	position: relative;
	color:#fff;
	display: none;
	
	.close-message{
		color: inherit;
		font-size: 18px;
		position: absolute;
		top: 0;
		right: 5px;
		cursor: pointer;
	}
	
	p {
		color: inherit;
		font-size: 16px;
	}
	
}

.header {
	background: #000;
	h1 {
		text-align: left;
		color: @gray-light;
		@media (max-width: @screen-sm ) { text-align:center; }
	}
	a {
		font-size: 18px; 
		color: #fff;
		text-align: right;
		line-height: 70px;
		@media (max-width: @screen-sm ) { text-align:center; }
	}
}

.dashboard{
	background: url('/images/cubes.png') 0 0 repeat;
	margin-right: -15px; 
	margin-left: -15px;
	margin-top: -18px;
	height: 100%;
	padding: 0 15px;
	h2  { 
		text-align: center; 
		height: 120px;
		line-height: 90px;
		a {
			display: block;
			width: 100%;
			background: transparent;
			padding: 10px;
			&:hover {
				color: #fff;
			}
		}
	}
	.hexagon{
		.BoxShadow();
		max-width: 640px;
		margin: 0 auto;
		border-radius: 50%;
		background: #ddd;
	}
}
