.BoxShadow(@hl:0px , @vl:6px, @blur:4px, @spread:0, @color:#000, @opacity:0.50){
	-webkit-box-shadow: @hl @vl @blur @spread rgba(0,0,0, @opacity);
	-moz-box-shadow: @hl @vl @blur @spread rgba(0,0,0, @opacity);
	box-shadow: @hl @vl @blur @spread rgba(0,0,0, @opacity);
}