#signup {
  background-image: url("/images/city-scape.jpg");
}

#signup_form_container {
	position: relative;
	top: 30%;
	h1,h4 { color: #fff; text-align: center; }
	h1 {font-size:40px;}
	.form-control{ 	
		border: 1px solid #000; 
		@media (max-width : @screen-md) { height:40px; } 	
	}
	p{
		color:#fff;
		a {font-size:16px; color: #B9CDFB; }
	}
	@media (max-width : @screen-xs) { top:25%; } 
}

#about {
	background: #000;
	
	h1{
		color: #fff;
		font-family: "Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
		font-size: 60px;
		line-height: 1;
		margin-bottom: 15px;
		@media (max-width : @screen-sm) { font-size:35px; } 
	}
	
	h5 { color: #333; }
	
	p{ color: #B4B4B4; }
}

#steps {
	background-image: url("/images/road.jpg");
	min-height:810px;
	color: #fff;
	.step-guide {
		background: #000;
		.row { margin-top: 100px;  }
	}
	blockquote { 
		margin-top: 18px; 
		font-size: 30px; 
		@media (max-width : @screen-sm) { font-size:18px; } 	
	}
	h1 {
		margin-left: -15px; 
		margin-right: -15px; 
		background: #fff;
		color: #000;
		text-align: center;
		padding: 5px 0;
		a { 
			color: inherit;
		}
	}
	ul { font-size: 18px; margin: 35px 0; }
}